.dasboard_button_active{
    color: #f66c3b;
    background-color: #feece2 !important;
}
.dasboard_button:hover{
    background-color: #feece2 !important;
}
.dasboard_button_active div{
    color: #f66c3b;
}